
*{
    
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}
.nav{
    display: flex;
    align-items: center;
    text-align: center;
}
.navbar{

    
    flex: 1;
    text-align: center;
    
    border-radius: 20px;
   
}
.navbar ul{

    list-style-type: none;
    float: right;
    width: 100%;
    
    
    text-align: center;
}
.navbar ul li{
    display: inline-block;
   margin: 5px 35px;
    z-index: 1;

     font-size: 18px;
     
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border-radius: 25px;
    
    
  }
  .navbar ul li:hover{
      transition: ease-in 0.4s;
    transform: scale(1.2);
    border-bottom: 3px solid white;
    
  }
 
  .navbar ul li.contact-hover {
    border: none;
  }
 

.logo{
    float: left;
    margin: -10px 120px;
    width: 220px;
}
.border{
    height: 2px;
    background-color: #8448d9;
    margin: 56px auto;

    width: 82%;
}
#nav4{
    background-color: #8448d9;
    padding: 10px 10px;
}
.brand{
    font-size: 90px;
    color: #97fde8;
    font-weight: 800;
    font-family: cursive;
    text-shadow: 1px 2px 100px #5f14c7;
}

.text{
    font-size: 55px;
    width: 32%;
    height: 0;
    margin: 60px 60px 0px 120px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 1.3;
    
}
.img1{
    float: right;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 100px;
    margin-right: 120px;
    
    
}
.text-style{
    text-shadow: 4px -2px 0 #8448d9;

}
.img1:hover{
    transform: scale(1.03);
}
#menubtn{
    display: none;
    
  height: 30px;
    
  }
section{
    padding: 2rem 0;
 }

 section.product-details{
  
    height: 115rem;
    padding: 20rem 0;
  }
.main-div{
    text-align: center;
    padding: 200px 0;

    
}
.heading{
text-align: center;
font-size: 50px;
}

.cam-image{
    margin: 30px 40px;
    
}
.cam-image img{
width: 40%;
float: left;
background: rgba(0, 0, 0, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 20px;
}
b{
    font-size: 30px;
    
}
.specs{
    width: 15%;
    font-size: 29px;
    display: flex;
justify-content: center;
align-items: center; 

    float: right;
    margin: 49px 27px;
    height: 170px;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.gradient{
position: absolute;
z-index: -1;
height: 17rem;
width: 40%;
right: 10%;
border-radius: 200px 0px 50px 0px;
filter: blur(40px);
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
background: linear-gradient(to right, #3c1053, #ad5389);
opacity: 0.7;

}

section.product-quality{
height: max-content;
margin-top: 7rem;
}
.two-gradient{
    position: absolute;
z-index: -1;
height: 17rem;
width: 80%;
right: 10%;
border-radius: 20px;
filter: blur(40px);
background: -webkit-linear-gradient(46deg, #3c1053, #ad5389);
background: linear-gradient(45deg, #0e2f40, #2a136b);
opacity: 0.4;
}

.feature-box{
   width: 15%;
    height: 170px;
    display: inline-block;
    padding: 3px;
  margin: 49px 29px;
  position: relative;
  left: 12%;
  
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.feature-box p{
    font-size: 1rem;
    margin: 13px 5px;
}
section.price{
    height: max-content;
    }

 .price-image{
     margin-left: 120px;
 }   
.price-text{
    width: 40%;
    float: right;
    font-size: 4rem;
    padding: 0;
 
    margin-right: 80px;
    margin-top: -30rem;
    
}
.price-text p{
    text-shadow: 4px -2px 0 #48d4d9;
}
.gradient-price{
    background: linear-gradient(45deg,  #0e2f40, #2a136b);
    animation: animate 4s linear infinite;
    width: 43%;
    height: 250px;
    margin-top: -31rem;
    margin-right: 120px;
    float: right;
    border-radius: 80px 30px 120px 10px;
    position: relative;
    z-index: -1;
}
@keyframes animate {
    0%{
        filter: blur(60px) hue-rotate(0deg);
    }
    100%{
        filter: blur(60px) hue-rotate(360deg);
    }
}

section.faq{
    height: max-content;
    
}
details{
    font-size: 25px;
    margin: 30px 11rem;
    width: 75%;
    height: max-content;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
details p{
    background: rgba(255, 255, 255, 0.342);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
margin: 10px 0;
color: black;
border-radius: 6px;
}
.footer{
    background: rgba(80, 72, 72, 0.055);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    


}
.footer-div{
    width: max-content;
    margin: 0 auto;
    
}
.block{
display: inline-block;
margin: 0 40px;
}
.copyright{
    background: rgba(92, 66, 66, 0.06);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

    
    text-align: center;
}






@media only screen and (max-width:1163px){
body{
    overflow-x: hidden;
}

.logo{

margin: 0 20px;
z-index: 1;

}
 .img1{

    margin: 0 auto;
    width: 100%;
    
}
.img1 img{
    width: 90%;
    max-height: 300px;
    position: absolute;
    left: 5%;
    
    
}
.main-div{
padding: 0;
margin: 7rem 0;


}
.text {
    width: 90%;
    position: absolute;
    
    top: 29rem;
    left: 7%;
    
    
    margin: 0px auto 140px auto;
    font-size: 30px;
}
.cam-image{
width: 80%;
margin: 0 auto;

}
.cam-image img{
width: 100%;
margin-bottom: 40px;
} 

section.product-details{
  
    height: max-content;
    margin-top: 40rem;
    padding: 0;
    
  }
  .gradient{
      position: absolute;
      top: 210%;
      right: 40%;
      filter: blur(90px);
      
  }
.specs{
    width: 50%;
    height: 200px;
    display: flex;
    margin: 70px auto;
    
    float: none;
    
  
}
.feature-box p{
    font-size: 25px;
}
.feature-box{
    width: 80%;

margin: 49px 0px;
  position: relative;
  left: 10%;

}
.price-image{
width: 40%;
margin-left: 15px;
}
.price-image img{
    width: 100%;
}
.price-text{
    
    
    font-size: 3rem;
    
 
    margin-right: 20px;
    margin-top: -19rem;
    
}
.gradient-price{
    margin-top: -15rem;
}
details{
    width: 90%;
    margin: 30px auto;
}
.two-gradient{
    height: 70rem;
}
#menubtn{
    display: block;
    position: absolute;
    top: 30px;
    cursor: pointer;
    right: 20px;
    
}

   .navbar ul{
    position: absolute;
    top: 70px; 
    left: 0;
    background: rgb(2, 2, 2);
    width: 100%;
    z-index: 1;
    overflow: hidden;
    
    transition: max-height 0.4s;
}    
.navbar ul li{
    display: block;
    margin-right: 50px;
    
    
    margin-top: 30px;
    margin-bottom: 10px;
   
}
.heading{
   
    font-size: 40px;
    margin-top: 100px;
    }


}
@media only screen and (max-width:363px){
.price-text{
    padding-top: 80px;
    font-size: 30px;
}
.heading h2{
    font-size: 45px;
}
.feature-box p{
    font-size: 20px;
}


}