
*{
    
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
/* 
background: #ad5389; 
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
background: linear-gradient(to right, #3c1053, #ad5389);  */


.nav{
    display: flex;
    align-items: center;
  
    text-align: center;


}
.navbar{

    
    flex: 1;
    text-align: center;
    
    border-radius: 20px;
   
}
.navbar ul{

    list-style-type: none;
    float: right;
    width: 100%;
    
    
    text-align: center;
}
.navbar ul li{
    display: inline-block;
   margin: 5px 40px;
    z-index: 1;

     font-size: 17px;
     
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border-radius: 25px;
    
    
  }
.logo{
    float: left;
    margin: 5px 120px;
}
.border{
    height: 2px;
    background-color: #8448d9;
    margin: 10px auto;

    width: 82%;
}
#nav4{
    background-color: #8448d9;
    padding: 10px 10px;
}
.brand{
    font-size: 70px;
    color: #97fde8;
    
}
.text{
    font-size: 42px;
    width: 32%;
    height: 0;
    margin: 60px 60px 0px 120px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 1.3;
    text-shadow: 4px -2px 0 #8448d9;
}
.img1{
    float: right;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 100px;
    margin-right: 120px;
    
}
.img1:hover{
    transform: scale(1.03);
}

section{
    padding: 2rem 0;
 }

 section.product-details{
  
    height: 115rem;
    padding: 20rem 0;
  }
.main-div{
    text-align: center;
    padding: 200px 0;

    
}
.heading{
text-align: center;
font-size: 50px;
}

.cam-image{
    margin: 30px 40px;
    
}
.cam-image img{
width: 40%;
float: left;
background: rgba(0, 0, 0, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 20px;
}

.specs{
    width: 15%;
    float: right;
    margin: 49px 27px;
    height: 170px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.gradient{
position: absolute;
z-index: -1;
height: 17rem;
width: 40%;
right: 10%;
border-radius: 200px 0px 50px 0px;
filter: blur(40px);
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
background: linear-gradient(to right, #3c1053, #ad5389);
opacity: 0.7;

}

section.product-quality{
height: max-content;
}
.two-gradient{
    position: absolute;
z-index: -1;
height: 17rem;
width: 80%;
right: 10%;
border-radius: 20px;
filter: blur(40px);
background: -webkit-linear-gradient(46deg, #3c1053, #ad5389);
background: linear-gradient(45deg, #0e2f40, #2a136b);
opacity: 0.4;
}

.feature-box{
   width: 15%;
    height: 170px;
    display: inline-block;

  margin: 49px 29px;
  position: relative;
  left: 12%;
  
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
section.price{
    height: max-content;
    }

 .price-image{
     margin-left: 120px;
 }   
.price-text{
    width: 40%;
    float: right;
    font-size: 4rem;
    padding: 0;
 
    margin-right: 80px;
    margin-top: -30rem;
    
}
.gradient-price{
    background: linear-gradient(45deg,  #0e2f40, #2a136b);
    animation: animate 4s linear infinite;
    width: 43%;
    height: 250px;
    margin-top: -31rem;
    margin-right: 120px;
    float: right;
    border-radius: 80px 30px 120px 10px;
    position: relative;
    z-index: -1;
}
@keyframes animate {
    0%{
        filter: blur(60px) hue-rotate(0deg);
    }
    100%{
        filter: blur(60px) hue-rotate(360deg);
    }
}

section.faq{
    height: max-content;
    
}
details{
    font-size: 25px;
    margin: 40px 11rem;
    width: 75%;
    height: 40px;
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
details p{
    background: rgba(255, 255, 255, 0.342);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
margin: 10px 0;
border-radius: 6px;
}







@media only screen and (max-width:763px){
body{
    overflow-x: hidden;
}

 .img1{

    margin: 0 auto;
    width: 100%;
    
}
.img1 img{
    width: 90%;
    position: absolute;
    left: 5%;
    
    
}

.text {
    width: 100%;
    position: absolute;
    top: 29rem;
    left: 6%;
    margin: 0 auto;
    font-size: 30px;
}
.cam-image{
width: 100%;

}
.cam-image img{
width: 80%;
margin-bottom: 40px;
} 

section.product-details{
  
    height: max-content;
    
  }
  .gradient{
      position: absolute;
      top: 210%;
      right: 40%;
      filter: blur(90px);
      
  }
.specs{
    width: 70%;
    display: flex;
    margin: 70px auto;
    float: none;
    
  
}




}